{% extends "base5.html" %}
{% load static %}

{% block body %}

    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog"
         id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h5 class="modal-title">Modal title</h5> -->
                    <h2 class="fw-bold mb-0">
                        <img src="{% static "trig.png" %}" height="30" width="30"/> &nbsp;Log in</h2>
                </div>


                <div class="modal-body p-5 pt-0">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control rounded-3{% if form.errors.username %} is-invalid{% endif %}"
                                   id="login-username" name="username"
                                   placeholder="username"
                                   autofocus>
                            <label for="floatingInput">Username</label>
                            {% for error in form.errors.username %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password"
                                   class="form-control rounded-3{% if form.errors.password %} is-invalid{% endif %}"
                                   id="login-password" name="password"
                                   placeholder="password">
                            <label for="floatingInput">Password</label>
                            {% for error in form.errors.password %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>
                        <div class="text-center">
                            <a href="{% url 'password_reset' %}">Forgot Password</a>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            Don't have an account?
                        </div>
                        <a class="w-100 py-2 mb-2 btn btn-link rounded-3"
                           href="{% url 'django_registration_register' %}">
                            Sign up
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
