{% extends "base5.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block body %}


    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog"
         id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">

                <div class="modal-body p-5">
                    <div class="alert alert-success">
                        You have successfully issued a password reset for your account.
                    </div>
                    You'll receive an email shortly with a link allowing you to reset your password.
                    <div class="text-center pt-5">
                        <a href="{% url 'login' %}">Back to Login</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}
